
#playboard {
	border-radius: 25px;
	background: Transparent;
	padding: 20px; 
	width: 400px;
	height: 400px; 
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navibutton {
	background-color: black;
	opacity: 0.4;
	border-radius: 20px;
	width: 160px;
	height: 40px;
	position: absolute;
	top: 10%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 5px 10px;
}

.navibutton:hover {
	opacity: 0.6;
	cursor: pointer;
} 

.ground {
	border-radius: 20px;
	background: transparent;
	width: 420px;
	height: 410px; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tile {
	background-color: white;
	border-radius: 10px;
	float: left;
	margin: 5px;
	width: 90px;
	height: 90px; 
	opacity: 0.2;
}

.btile {
	background-color: white;
	border-radius: 10px;
	float: left;
	margin: 5px;
	width: 90px;
	height: 90px; 
	opacity: 0.2;
}

.btile:hover {
	cursor: pointer;
}

.countdown_number {
	font-family: Salsa-font;
	font-size: 120px;
	color: red;
	opacity: 0.4;
}