.fixBackground {
	background-size: 100vw 100vh;
}

.button {
	background-color: Transparent;
	border: none;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0.8;
	transform: translate(-50%, -50%);
	transition: transform .2s;
}

.button:hover {
	transform: scale(1.2) translate(-41%, -41%);
	cursor: pointer;
}

.Music {
	opacity: 0.5;
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.musicListBox {
	border-radius: 25px;
	background: Transparent;
	padding: 20px; 
	width: 300px;
	height: 400px; 
	opacity: 0.4;
	box-shadow: 10px 10px 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.musicList {
	border-radius: 25px;
	background: Transparent;
	padding: 20px; 
	width: 280px;
	height: 380px; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.songinlist {
	border-radius: 10px;
	background: black;
	width: 280px;
	height: 40px;
	margin-top: 15px;
	z-index: 1;
	opacity: 0.8;
}

@font-face {
  font-family: Salsa-font;
  src: url(Salsa-Regular.ttf);
}

.songName {
	color: white;
	padding-left: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -30px;
	font-family: Salsa-font;
	transition: transform .3s;
}

.songName:hover {
	transform: translate(5%, 0%);
	cursor: pointer;
}

.transiButton {
	height: 50px;
	width: 50px;
	background-color: white;
	opacity: 0.5;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 5px 10px;
}

.button_page {
	fill: black;
	stroke-width: 0;
	opacity: 0.7;
	transition: transform .2s;
}

#left_arrow:hover {
	transform: translate(-5%, 0%);
	cursor: pointer;
}

#right_arrow:hover {
	transform: translate(5%, 0%);
	cursor: pointer;
}

.transiDot{
	height: 10px;
	width: 10px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 93%;
	transform: translate(-50%, -50%);
	opacity: 60%;
}

@keyframes swipeR {
    0, 100% {
        transform: translate(-50%, -50%); opacity: 1;
    }
    50% { transform: translate(-58%, -50%); opacity: 0.4;}
}
@keyframes swipeL {
    0, 100% {
        transform: translate(-50%, -50%); opacity: 1;
    }
    50% { transform: translate(-42%, -50%); opacity: 0.4;}
}

#playGame1 {
	background-color: black;
	opacity: 0.4;
	border-radius: 20px;
	width: 160px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 5px 10px;
}

#playGame1_text {
	color: white;
	font-family: Salsa-font;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -50%);
}

#playGame1:hover {
	opacity: 0.6;
	cursor: pointer;
} 

@media screen and (max-width: 768px) {
	#playGame1 {top: calc(25% - 20vw - 25px);}
}
