
#player {
	width: 80vw;
	height: 50px;
	background-color: Transparent;
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#fullLine {
	background-color: white;
	opacity: 0.6;
	width: 60vw;
	height: 2px;
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#currLine {
	background-color: black;
	opacity: 0.6;
	width: 0vw;
	height: 2px;
	position: absolute;
	bottom: 50%;
	left: 12.5%;
	transform: translate(0%, -50%);
}

#fullTime {
	color: white;
	opacity: 0.6;
	position: absolute;
	bottom: -15%;
	left: calc(87.5% + 36px);
	transform: translate(-50%, -50%);
}

#currTime {
	color: white;
	opacity: 0.6;
	position: absolute;
	bottom: -15%;
	left: calc(12.5% - 36px);
	transform: translate(-50%, -50%);
}

#pauseButton {
	background-color: Transparent;
	opacity: 0.6;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 50%;
	bottom: -80%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}